.Navbar{
  width: 100%;
  height:fit-content;
  background-color:white;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 3fr 0.75fr;
  padding:1px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
}
.nav-part2{
  display: flex;
}
.nav-part1-heading{
  font-size: 25px;
  font-weight: 900;
  margin:15px;
  cursor: pointer;
}
.nav-part2 p{
  margin: 15px;
  cursor: pointer;
}
.nav-part3 span{
  margin-left: 10px;
}
.profile-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 100px;
}

.dropdown-menu button {
  width: 100%;
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;
}

.dropdown-menu button:hover {
  background: #f0f0f0;
}
.nav-part3 a,.nav-part2 a {
  text-decoration: none;
  color: inherit;
}


